# PORT (Opcional - Padrão: 3000)
PORT=3000

# ADMIN_PASSWORD (Senha para acessar a rota /admin - Padrão: estetica123)
ADMIN_PASSWORD=estetica123

# DATABASE_URL (String de conexão com o banco PostgreSQL no Supabase)
# Deixe comentado localmente para o sistema utilizar o banco de dados local SQLite
# DATABASE_URL=postgresql://postgres:[SENHA_DO_BANCO]@db.[REF_DO_SUPABASE].supabase.co:5432/postgres
